<h3> I'm in {{name}} app component! </h3>
<hr> 
<app-servers></app-servers>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<hr>
<app-test2></app-test2>
<hr>
<p>1. Add A button which says 'Display Details' <br>
2. Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')<br>
3. Toggle the displaying of that paragraph with the button created in the first step<br>
4. Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)<br>
5. Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</p>
<app-test3></app-test3>
